html,
body,
main,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
audio,
video,
[style] {
  display: var(--dsp, initial);
  flex-direction: var(--direction, initial);
  justify-content: var(--justify, initial);
  align-items: var(--align, initial);
  gap: var(--gap, initial);
  wrap: var(--wrap, initial);
  grow: var(--grow, initial);
  shrink: var(--shrink, initial);
  --dsp: block;
}

button,
a,
input,
select,
textarea,
em,
s,
i {
  display: var(--dsp);
  --dsp: inline-block;
}

/* Name: core.scss */
*,
[style] {
  --cl: var(--color, initial);
  --fs: var(--font-size, 1rem);
  --fst: var(--font-style, normal);
  --fw: var(--font-weight, normal);
  --ff: var(--font-family, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  --lh: var(--line-height, 1.2);
  --txa: var(--text-align, left);
  --txd: var(--text-decoration, none);
  --txt: var(--text-transform, none);
  --li-style: var(--list-style, none);
  --visible: var(--visibility, visible);
  --border: var(--brd, initial);
  --min-w: var(--min-width, auto);
  --min-h: var(--min-height, auto);
  --max-w: var(--max-width, auto);
  --max-h: var(--max-height, auto);
  --fv: var(--font-variant, normal);
  --fk: var(--font-kerning, normal);
  --lts: var(--letter-spacing, normal);
  --ws: var(--white-space, normal);
  --wsp: var(--word-spacing, normal);
  --w: var(--width, auto);
  --h: var(--height, auto);
  --p: var(--padding, initial);
  --m: var(--margin, initial);
  --px: var(--padding-inline, initial);
  --py: var(--padding-block, initial);
  --mx: var(--margin-inline, initial);
  --my: var(--margin-block, initial);
  --dsp: initial;
  --pos: var(--position, initial);
  box-sizing: border-box;
  font-family: var(--ff);
  font-size: var(--fs);
  padding-inline: var(--px);
  padding-block: var(--py);
  margin-inline: var(--mx);
  margin-block: var(--my);
  width: var(--w);
  height: var(--h);
  list-style: var(--li-style);
  color: var(--cl, black);
  align-items: var(--align);
  background-color: var(--bg, white);
  border: var(--border, 0);
  text-decoration: var(--txd);
  cursor: var(--cursor);
  width: var(--w);
  min-height: var(--min-h);
}

:root {
  --line: thin solid grey;
  --cursor: initial;
}

footer[role=contentinfo],
header,
main,
ul,
ol,
div,
> nav,
> section {
  --px: 1.2rem;
}

main,
body > section,
footer {
  --dsp: block;
  --px: 1rem;
}

header,
nav {
  --px: 0;
  --w: 100%;
}

> * + * {
  --py: 1rem;
}

header > section {
  --px: 1rem;
}

ul {
  --dsp: block;
  --mx: 1rem;
}

section + section,
div + div {
  --dsp: block;
  --py: 1rem 0;
}

div,
article,
button,
link,
ul,
p,
form,
blockquote {
  width: var(--w);
  height: var(--h);
  px: 1rem;
  py: 1rem;
  mx: var(--elm-mx, --mx);
  my: var(--elm-my, --my);
  --w: auto;
  --h: auto;
}

:any-link,
a {
  --cl: blue;
  --txd: none;
}
:any-link:visited,
:any-link :active,
a:visited,
a :active {
  --cl: navy;
}

p + p {
  --py: 1rem 0;
}

/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: elements.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: elements.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: nav.scss
 Date: 2021-04-01
 ***************************************
*/
nav {
  --dsp: flex;
  --w: 100%;
  --align: center;
  --justify: space-between;
}
nav section {
  --dsp: flex;
  --align: center;
}

/* menubar */
ul[role=menubar] {
  --dsp: flex;
  --gap: 1rem;
  --fs: 0.8rem;
  --py: 1rem;
}
ul[role=menubar] li,
ul[role=menubar] :any-link {
  --fs: 0.9rem;
}

/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: main.scss
 Date: 2021-04-01
 ***************************************
*/
/** banner.scss */
[role=banner] {
  --dsp: flex;
  --align: center;
  --min-h: 40vh;
  --justify: center;
}

/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: section.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 cComponent: aside.scss
 Date: 2021-04-01
 ***************************************
*/
/* Component: foundation.scss */
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 component: button.scss
 Date: 2021-11-01
 ***************************************
*/
button,
[style*="--btn"] {
  --bg: darkgray;
  --dsp: inline-flex;
  --align: center;
  --h: calc(36rem / 16);
  --px: 1.5rem;
  --border: var(--line);
}
button > :any-link,
[style*="--btn"] > :any-link {
  --txd: none;
}
button:hover,
[style*="--btn"]:hover {
  --cursor: pointer;
}
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: div.scss
 Date: 2021-04-01
 ***************************************
*/
/*  Component: elements.scss */
/* flex styles */
[style*="--flex"] {
  display: var(--dsp, flex);
  --dsp: flex;
  --gap: 1rem;
}

/** styles **/
/*
**************************************
Author: Shawn Sandy
Date: 2021-11-01
Email: shawnsandy04@gmail.com
Description: First Paint Components
Project: first-paint
Version: 2.0
Website: https://shawnsandy.github.io/first-paint/
License: MIT
***************************************
*/

/*# sourceMappingURL=index.css.map */
