/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 Name: tokens.scss
 ***************************************
*/
/*
 ***************************************
  Name: core.scss
 ***************************************
*/
* {
  --cl: var(--color, initial);
  --fs: var(--font-size, 1rem);
  --fst: var(--font-style, normal);
  --fw: var(--font-weight, normal);
  --ff: var(--font-family, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  --lh: var(--line-height, 1.2);
  --txa: var(--text-align, left);
  --txd: var(--text-decoration, none);
  --txt: var(--text-transform, none);
  --li-style: var(--list-style, disc);
  --visible: var(--visibility, visible);
  --w: var(--width, auto);
  --h: var(--height, auto);
  --p: var(--padding, initial);
  --m: var(--margin, initial);
  --px: var(--padding-inline, initial);
  --py: var(--padding-block, initial);
  --mx: var(--margin-inline, initial);
  --my: var(--margin-block, initial);
  --dsp: var(--display, initial);
  --pos: var(--position, initial);
  font-family: var(--ff);
  padding-inline: var(--px);
  padding-block: var(--py);
  margin-inline: var(--my);
  margin-block: var(--my);
}

html {
  display: var(--dsp);
}

/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: elements.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: elements.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: nav.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: main.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: section.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 cComponent: aside.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: foundation.scss
 Date: 2021-04-01
 ***************************************
*/
footer[role=contentinfo],
header,
main,
ul,
ol,
> nav,
> section {
  --dsp: block;
  --px: 1rem;
}

section {
  --dsp: block;
}

ul {
  --dsp: block;
  --px: 1rem;
}

div,
article,
button,
link,
ul,
p,
form,
blockquote {
  width: var(--elm-w, --w);
  height: var(--elm-h, --h);
  px: 1rem;
  py: 1rem;
  mx: var(--elm-mx, --mx);
  my: var(--elm-my, --my);
  --w: auto;
  --h: auto;
}

/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 component: button.scss
 Date: 2021-11-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: div.scss
 Date: 2021-04-01
 ***************************************
*/
/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: elements.scss
 Date: 2021-04-01
 ***************************************
*/
body main,
body header,
body footer[role=contentinfo],
body > nav,
body > section {
  --dsp: block;
  --px: 1rem;
}

/*
**************************************
Author: Shawn Sandy
Date: 2021-11-01
Email: shawnsandy04@gmail.com
Description: First Paint Components
Project: first-paint
Version: 2.0
Website: https://shawnsandy.github.io/first-paint/
License: MIT
***************************************
*/

/*# sourceMappingURL=index.css.map */
