<section>
  <div>
    <span>
      <p>Input components</p>
    </span>
  </div>
  <div role="list">

    <div role="listitem">
      <label for="input">Text Input Component</label>
      <input type="text" id="input" placeholder="Text input placeholder">
    </div>

    <div role="listitem">
      <label for="email-address">Text Input Component</label>
      <input type="email" id="email-address" placeholder="Text input placeholder">
    </div>

    <div role="listitem">
      <label for="select">Text Input Component</label>
      <select id="select">
        <option value="">Select</option>
        <option value="">Options</option>
        <option value="">Options</option>
      </select>
    </div>
    <div role="listitem">
      <label for="textarea">Textarea Component</label>
      <textarea id="textarea" cols="30" rows="10"></textarea>
    </div>

    <div role="listitem">
      <!-- Checkbox -->
      <input type="checkbox">
    </div>
    <div role="listitem">
      <!-- Radio -->
      <input type="radio">
    </div>
    <div role="listitem">
      <!-- Switch -->
      <input type="checkbox" class="switch">
    </div>






  </div>
  <div>
    <div>

    </div>
  </div>
</section>
