<section>
  <div>
    <span>
      <p>Input components</p>
    </span>
  </div>
  <div role="list">

    <div role="listitem">
      <label for="input">Text Input Component</label>
      <input type="text" placeholder="Text input placeholder">
    </div>

    <div role="listitem">
      <label for="email-address">Text Input Component</label>
      <input type="email" name="email-address" placeholder="Text input placeholder">
    </div>

    <div role="listitem">
      <label for="select">Text Input Component</label>
      <select name="select" id="">
        <option value="">Select</option>
        <option value="">Options</option>
        <option value="">Options</option>
      </select>
    </div>

  </div>
  <div>
    <div>
      <label for="textarea">Textarea Component</label>
      <textarea name="textarea" id="" cols="30" rows="10"></textarea>
    </div>
  </div>
</section>
