/**
 * navbar
 */

$nav-min-height: $mx-layout-height-vh-10 !default;
$nav-bg: $mx-color-lightgray !default;

@mixin mix-navbar {
  nav {
    background-color: $nav-bg;
    @include mix-nav();
  }
}

/**
 * base navbar
 */
@mixin mix-nav {
  > section,
  div,
  ul {
    min-height: $nav-min-height;
    display: flex;
    align-items: center;
    @include mix-nav-links();
  }
}

/**
 * Nav links
 */
@mixin mix-nav-links {
  > a {
    &:first-child {
      padding: 0;
    }
    height: 100% !important;
    display: inline-flex;
    align-items: center;
    text-align: center;
    align-content: stretch;
    padding: 0 3rem;
    text-decoration: none;
    &:hover,
    &:focus {
      opacity: 0.95;
    }
    @media all and (max-width: 580px) {
      display: block;
    }
    @content;
  }
}
