/**
 * navbar
 */
@mixin mix-navbar {
  nav {
    @include mix-nav();
    @include mix-nav-links();
  }
}

/**
 * base navbar
 */
@mixin mix-nav {
  display: flex;
  align-items: center;
  @media all and (max-width: 580px) {
    display: block;
  }
}

/**
 * Nav links
 */
@mixin mix-nav-links {
  a {
    height: 100% !important;
    display: inline-flex;
    align-items: center;
    text-align: center;
    align-content: stretch;
    padding: 0 3rem;
    text-decoration: none;
    &:hover,
    &:focus {
      opacity: 0.95;
    }
    @media all and (max-width: 580px) {
      display: block;
    }
    @content;
  }
}
