---
layout: page.njk
title: "Get Started."
scripts: ["https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js", "js/anime.js"]
---

<article class="container">
    <h1 class=" ui-gray ui-font-size-9lg roboto-slab">{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto vero quia omnis eos consectetur, magni saepe
        doloribus alias. Ratione explicabo autem non ab itaque? Architecto vel repellendus quibusdam enim porro?</p>
    <p>Fugiat quod saepe sapiente hic unde necessitatibus, soluta maxime molestias recusandae, consequatur fugit
        reprehenderit eveniet velit nihil nostrum optio quidem, iure sequi natus itaque nobis vitae animi officiis
        molestiae. Tempora.</p>
    <p>Ratione culpa libero laboriosam commodi ea totam a, quidem sapiente, fugit dolorem voluptatum expedita, nam
        repudiandae itaque alias quis aliquam ipsa optio. Enim tempore, ratione perferendis voluptatum corrupti quos
        molestiae.</p>
</article>