/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --bg-color: hsl(0, 0%, 96%);
  --color: hsl(0, 0%, 8%);
  --cl-dark: var(--color);
  --cl-light: #fff;
  --bg-color: transparent;
  --height: calc(400rem / 16);
  --display: flex;
  --display-inline: inline-flex;
  --display-b: block;
  --direction: row;
  --row: row;
  --column: column;
  --align-item: center;
  --justify-content: center;
  --border: thin solid lightgray;
  --border-md: 3px solid lightgray;
  --border-thick: thick solid lightgray;
  --bg-image: none;
  --dark: var(--cl-dark);
  --off-white: hsl(240, 100%, 96%);
  --dark: hsl(0, 0%, 9%);
  --light: lightgray;
  --alert: yellowgreen;
  --info: hsl(210, 100%, 41%);
  --warning: hsl(33, 100%, 50%);
  --danger: hsl(348, 98%, 38%);
  --highlight: hsl(54, 100%, 90%);
  --text: var(--dark);
  --reg: 1rem;
  --xs: calc(12rem / 16);
  --sm: calc(14rem / 16);
  --md: calc(21rem / 16);
  --lg: calc(28rem / 16);
  --xl: calc(36rem / 16);
  --xxl: calc(48rem / 16);
  --xxxl: calc(60rem / 16);
  --4xl: calc(72rem / 16);
  --5xl: calc(80rem / 16);
  --6xl: calc(120rem / 16);
  --mg: auto;
  --mg-reg: var(--reg);
  --mg-xs: var(--xs);
  --mg-sm: var(--sm);
  --mg-md: var(--md);
  --mg-lg: var(--lg);
  --mg-xl: var(--xl);
  --mg-xxl: var(--xxl);
  --mg-xxxl: var(--xxxl);
  --mg-4xl: var(--4xl);
  --mg-5xl: var(--5xl);
  --mg-6xl: var(--6xl);
  --pd-reg: var(--reg);
  --pd-xs: var(--xs);
  --pd-sm: var(--sm);
  --pd-md: var(--md);
  --pd-lg: var(--lg);
  --pd-xl: var(--xl);
  --pd-xxl: var(--xxl);
  --pd-xxxl: var(--xxxl);
  --pd-4xl: var(--4xl);
  --pd-5xl: var(--5xl);
  --pd-6xl: var(--6xl);
  --breakpoint-lg: 1200px;
}

@media (min-width: 980px) {
  [data-show-mobile] {
    display: none;
  }

  [data-show-desktop] {
    display: inline-flex;
  }
}
.fp-header,
header {
  --hd-bdr: var(--border);
  --hd-pd: var(--pd-reg);
  --hd-align: var(--align-items);
  --hd-display: var(--display);
  --hd-align-items: var(--align-item);
  --hd-justify: var(--justify-content);
  --hd-direction: var(--column);
  --hd-bg: var(--bg-color);
  --hd-gap: var(--gap-reg);
  background-color: var(--hd-bg, );
}
.fp-header > [role=banner],
header > [role=banner] {
  background-color: var(--hd-bg);
  min-height: var(--height);
  display: var(--hd-display);
  align-items: var(--hd-align-items);
  justify-content: var(--hd-justify);
  flex-direction: var(--row);
  border-bottom: var(--hd-bdr);
  border-top: var(--hd-bdr);
  border-block: var(--hd-bdr);
  gap: var(--hd-gap);
  padding-block: var(--hd-pd) 0;
}

nav {
  --nav-display: var(--display);
  --nav-align: var(--align-item);
  --nav-height: --var(--xxxl);
  --justify-content: space-between;
  --font-size: var(--sm);
}
nav h1 {
  font-size: var(--lg);
  margin-block-end: 0;
}
@media (min-width: 980px) {
  nav {
    display: var(--nav-display);
    align-items: var(--nav-align);
    visibility: visible;
    justify-content: var(--justify-content);
    max-height: var(--nav-height);
  }
}
nav :where(> section, ul) {
  display: var(--nav-display, --display);
  align-items: var(--nav-align, --align-item);
  gap: var(--reg);
  height: 100%;
  font-size: var(--font-size);
}
nav :where(> section, ul) :any-link {
  font-size: var(--font-size);
}
nav img[alt] {
  vertical-align: middle;
  max-height: var(--xxl);
}
nav img[alt] + * {
  margin-left: var(--reg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: inherit;
  margin: 0rem 0 1.05rem;
  font-weight: 500;
  overflow-wrap: break-word;
  word-break: normal;
}

h1 {
  font-size: var(--xxxl);
}

h2 {
  font-size: var(--xxl);
}

h3 {
  font-size: var(--xl);
}

h4 {
  font-size: var(--lg);
}

h5 {
  font-size: var(--md);
}

h6 {
  font-size: var(--reg);
}

small,
time {
  font-size: var(--xs);
}

time {
  padding: 0 0 0.5rem;
}

p {
  margin: 0;
  line-height: 1.7;
}
p i {
  font-style: italic;
}
p strong {
  font-weight: 500;
}

p + p,
p + * {
  margin-top: 2rem;
}

p + * {
  margin-top: 1.5rem !important;
}

* {
  outline: none;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: clamp(86%, 96%, 120%);
  line-height: 1.5;
}
@media (min-width: 980px) {
  html {
    font-size: 98%;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1980px) {
  html {
    font-size: 110%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: white;
  color: #1b1b1b;
}

:where(body) > section,
:where(body) main,
:where(body) nav,
:where(body) footer {
  width: 80%;
  margin: 0 auto;
  padding-block: var(--pd-reg, 1rem);
  margin-inline: var(--mg);
}
@media screen and (max-width: 980px) {
  :where(body) > section,
:where(body) main,
:where(body) nav,
:where(body) footer {
    width: 100%;
  }
}
