$render: true !default;
$color: null !default;
$background-color: transparent !default;
$background-color-hover: rgb(228, 228, 228) !default;
$height: null !default;
$width: null !default;
$margin: .7rem !default;
$padding: 1rem !default;
$padding-x: 1.5rem !default;
$padding-y: .7rem !default;
$border-transparent: 1px transparent solid !default;
$border-default: 1px solid $background-color-hover !default;
$border-hover: 1px solid $background-color-hover !default;
$border-radius: .1rem !default;
$border-radius-rounded: 99px;
$display: inline-flex !default;
$align-items: center !default;
$justify-content: center !default;
$cursor: pointer !default;

// *************************************************
// ******************** imports ********************
// *************************************************

@use 'styles.scss';

@mixin renderComponent($renderComponent: $render, $className: null) {

  @if $renderComponent {

    #{if($className, $className, 'button[type], a[role=button], .fp-button')} {
      @include button();
    }

  }
}


@mixin button() {
  @include styles.flex-box();
  display: inline-flex;
  flex-direction: row;
  background-color: $background-color;
  border-radius: $border-radius;
  border: $border-transparent;
  cursor: $cursor;
  margin-bottom: $margin;
  font-weight: normal;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    border: none;
  }

  &[type],
  &[type=reset],
  &[type=button],
  &[type=submit] {
    padding: $padding;
    border: $border-default;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      border: $border-transparent;
    }
  }


}

@mixin links() {


  a {
    // @extend .fp-button;

    &[role=button] {
      text-decoration: none;
      border: none;
      background-color: $background-color;

      >span,
      >strong,
      >em {

        padding: $padding-y $padding-x;
        border: $border-default;
        font-weight: normal;
      }

      >strong {
        background-color: black;
        color: invert($color: #000000);
      }

      >em {
        border-radius: $border-radius-rounded;

        &:hover,
        &:active,
        &:focus {

          >em {
            border-radius: $border-radius-rounded;

          }
        }

      }


    }
  }


}

@include renderComponent()
