// set variables

$render: true !default;


// render component mixin

@mixin renderComponent($renderContent: true, $className: null) {
  @if($renderContent) {
    @include elements();
  }
}


@mixin elements {
  code {
    color: #d63384;
  }

  a {
    // #0d6efd
    color: #0d6efd;


    &:hover,
    &:active,
    &:visited {

      text-decoration: none;
      color: darken(#0d6efd, 30%);

    }
  }
}

// include render component

@include renderComponent();
