$render: true !default;

@mixin renderComponent($renderContent: true, $className: null) {
  @if($renderContent) {
    #{if($className, $className, 'footer, .fp-footer')}footer {
      @include footer();
    }
  }
}

@mixin footer() {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: start;

}

@include renderComponent();
