$render: true !default;
$font-size: .8rem;
$background-color: whitesmoke;

@mixin renderComponent($renderContent: true, $className: null) {
  @if($renderContent) {

    #{if($className, $className, '.fp-footer')},
    footer[role=contentinfo] {
      @include footer();
    }
  }
}

@mixin footer() {
  // min-height: 200px;
  display: block;
  font-size: $font-size;
  background-color: $background-color;

  section {
    display: flex;
    align-items: stretch;
    align-content: stretch;

    >aside,
    ul,
    ol {
      padding: 1rem;
      // background-color: whitesmoke;

    }

    aside+aside,
    ul+ul,
    ol+ol {
      margin-left: .5rem;
    }
  }

}

@include renderComponent();
