$render: true !default;
$height: 400rem / 16;
$display: flex;
$align-items: center;
$flex-direction: column;
$justify-content: center;
$border: 1px solid whitesmoke;

// @imports

@use 'styles.scss';

@mixin renderComponent($renderContent: $render, $className: null) {

  @if($renderContent) {

    #{if($className, $className, '.fp-header')},
    header [role="banner"] {
      @include header()
    }
  }

}

@mixin header {
  @include styles.flex-box();
  min-height: $height;
  border-top: $border;
  border-bottom: $border;

  >section,
  >div,
  aside {
    text-align: center;
  }
}

@include renderComponent()
