$render: true !default;
$height: 300rem / 16;
$display: flex;
$align-items: center;
$flex-direction: column;
$justify-content: center;

// @imports

@use 'styles.scss';

@mixin renderComponent($renderContent: $render, $className: null) {

  @if($renderContent) {

    #{if($className, $className, '.fp-header')},
    header {
      @include header()
    }
  }

}

@mixin header {
  @include styles.flex-box();
  min-height: $height;

  >section,
  >[role=banner] {
    text-align: center;
  }
}

@include renderComponent()
