// set variables

$render: true !default; // add component to stylesheet
$border: 1px solid whitesmoke !default;
$margin: 2rem 0 !default;

// render component mixin

@mixin renderComponent($renderContent: true, $className: null) {
  @if($renderContent) {
    #{$className, $className, 'hr, .fp-hr'} {
      @include hr();
    }
  }
}

// include render component
@mixin hr {
  display: block;
  border: none;
  background-color: transparent;
  border-top: $border;
  margin: $margin;
}

@include renderComponent();
