$render: true !default;

$min-height: 30rem !default;

@mixin main($renderContent: true, $className: null) {
  @if($renderContent) {
    @include mix-main();
  }
}

@mixin mix-main {
  main {
    min-height: $min-height;

    // padding: 2rem 0;
    >section {

      // width: 100%;
      article {
        padding: 1rem;
        width: 100%;
        font-size: 1rem;

        >*+* {
          margin-top: 2rem;
        }
      }

      article+aside {
        width: 100%;
        // min-width: 25%;
        padding: 1rem;
        font-size: 0.95rem;
      }

      @media all and (min-width: 1280px) {
        display: flex;

        article {
          max-width: 75%;
        }

        align-items: flex-start;

        article+aside,
        aside+article,
        article+[role="complementary"],
        [role="complementary"]+article {
          min-width: 25%;
          max-width: 25%;
        }
      }
    }
  }
}


@include main()
