// @use "@shawnsandy/mix/sass/foundations/settings.scss";
// @import "@shawnsandy/mix/sass/foundations/nav.scss";

$render: true !default;
$color: null !default;
$border: whitesmoke 1px solid !default;
$background-color: null !default;
$min-height: 3.5rem !default;
$max-width: null !default;
$padding: .5rem !default;
$padding-x: .5rem !default;
$padding-y: 0rem !default;
$padding-items: 0 1rem;
$title-font-size: 1.5rem !default;
$brand-img-height: null !default;
$align-items: center !default;
$justify-content: space-between !default;
$brand-name: 'brand name' !default;

@mixin renderComponent($renderComponent: $render, $className: null) {
  @if $renderComponent {

    #{if($className, $className, '.fp-nav')},
    nav {
      display: block;
      align-items: $align-items;
      justify-content: $justify-content;
      min-height: $min-height;
      padding: $padding-x $padding-y;
      margin: 0 auto;
      margin-bottom: 0rem;
      border-bottom: #{if($max-width,  $border,'none')};

      @media (min-width: 960px) {
        display: flex;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        max-width: $max-width or 80%;

      }

      section {

        display: flex;
        min-height: $min-height;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;

        li,
        a {
          margin-top: 1rem;
        }

        // margin-bottom: .5rem;

        li {
          height: inherit;
          display: flex;
          align-items: center;
          margin-top: 0;
          // padding: 0 .3rem;

          &+li {
            margin-top: 0;
          }
        }

        @media all and (min-width: 960px) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0;
          padding: 0 .5rem;

          li,
          a {
            margin-top: 0;
          }
        }

        img[alt] {
          display: inline-block;
          vertical-align: middle;
          height: $brand-img-height or 2rem;
          max-height: $brand-img-height or 2rem;
          ;

          +* {
            margin-left: 1rem;
          }
        }

        a {
          padding: 0 .5rem;
          font-size: .8rem;
          text-decoration: none;
        }

        button[type],
        a[role=button] {
          margin-bottom: 0;
        }

        ul {
          display: flex;
          min-height: $min-height;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0;
        }

      }

      h1,
      [aria-label="#{$brand-name}"] {
        display: block;
        text-align: center;
        height: 100%;
        margin: 0;
        line-height: normal;
        font-size: $title-font-size;

        @media (min-width: 960px) {
          display: flex;
          align-items: center;
        }

        a {
          font-size: $title-font-size;
          padding: 0;
        }

      }

    }
  }
}

@mixin max-width($max-width: 100%) {

  nav {
    max-width: $max-width;
    border: $border;
  }

}

@include renderComponent();
