$render: true !default;

$font-family: Roboto,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;


@mixin typography($renderContent: true, $className: null) {
  @if($renderContent) {
    @include mix-typography();
  }
}

@mixin mix-typography {

  html,
  body {
    font-family: $font-family;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.5;
    color: inherit;
    margin: 0rem 0 1.05rem;
    font-weight: 500;
    word-break: break-all;
  }

  h1,
  .fp-h1 {
    font-size: 5rem;
  }

  h2,
  .fp-h1 {
    font-size: 3rem;
  }

  h3,
  .fp-h3 {
    font-size: 2.5rem;
  }

  h4,
  .fp-h4 {
    font-size: 1.777rem;
  }

  h5,
  .fp-h5 {
    font-size: 1.4rem;
  }

  small,
  .text_small {
    font-size: 0.75rem;
  }

  p,
  .fp-p {
    line-height: 1.7;
  }

  @content;
}


@include typography();
