{% extends 'index.njk' %}
{% block styles %}
  <link
    rel="stylesheet"
    href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@shawnsandy/first-paint@2.4.0/src/v2/components/layouts/cover.scss"/>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@shawnsandy/first-paint@2.4.0/src/v2/components/index.scss"/>
  <link rel="stylesheet" href="/v2/css/index.css"/>
{% endblock %}
