:root {
  --bg: hsl(0, 0%, 96%);
  --bg-image: none;
  --cl: hsl(0, 0%, 8%);
  --cl-dark: var(color);
  --cl-light: #fff;
  --h: calc(400rem / 16);
  --bd-w: thin;
  --bd-cl: lightgray;
  --bd-style: solid;
  --bd: var(--bd-w) var(--bd-style) var(--bd-cl);
  --bd-md: thin;
  --bd-thick: thick;
  --bd-style-dotted: dotted;
  --bd-cl-dark: black;
  --bd-cl-light: white;
  --left: start;
  --right: end;
  --center: center;
  --justify: justify;
  --dp: flex;
  --dp-i: inline-flex;
  --dp-b: block;
  --drt: row;
  --row: row;
  --col: column;
  --al: center;
  --al-start: flex-start;
  --al-end: flex-end;
  --jc: center;
  --js: flex-start;
  --je: flex-end;
  --jb: space-between;
  --wrap: wrap;
  --gap: 1rem;
  --gap-sm: var(--sm);
  --gap-md: var(--md);
  --gap-lg: var(--lg);
  --gap-xl: var(--xl);
  --off-white: hsl(240, 100%, 96%);
  --dark: hsl(0, 0%, 9%);
  --light: lightgray;
  --alert: yellowgreen;
  --info: hsl(210, 100%, 41%);
  --warning: hsl(33, 100%, 50%);
  --danger: hsl(348, 98%, 38%);
  --highlight: hsl(54, 100%, 90%);
  --text: var(dark);
  --default: 1rem;
  --0: 0;
  --1: 0.75rem;
  --2: 0.875rem;
  --3: 1.3125rem;
  --4: 1.75rem;
  --5: 1.875rem;
  --6: 3rem;
  --7: 3.75rem;
  --8: 4.5rem;
  --9: 5rem;
  --10: 7.5rem;
  --rem: var(--default);
  --none: 0;
  --xs: var(--1);
  --sm: var(--2);
  --md: var(--3);
  --lg: var(--4);
  --xl: var(--5);
  --xxl: var(--6);
  --xxxl: var(--7);
  --4xl: var(--8);
  --5xl: var(--9);
  --6xl: var(--10);
  --d: var(--default);
  --mt: var(--default);
  --mb: var(--default);
  --ml: var(--default);
  --mr: var(--default);
  --m: var(--mb) var(--mt) var(--ml) var(--mr);
  --pt: var(--default);
  --pb: var(--default);
  --pl: var(--default);
  --pr: var(--default);
  --p: var(--pt) var(--pb) var(--pl) var(--pr);
  --p-inline: var(--default);
  --p-block: var(--default);
  --vh-sm: 10vh;
  --vh-md: 25vh;
  --vh-lg: 50vh;
  --vh-xl: 70vh;
  --vh-xxl: 90vh;
  --vw-sm: 10vw;
  --vw-md: 25vw;
  --vw-lg: 50vw;
  --vw-xl: 70vw;
  --vw-xxl: 90vw;
  --breakpoint-lg: 1200px;
  --ban-xxl: 90vh;
  --ban-xl: 80vh;
  --ban-lg: 75vh;
  --ban-md: 50vh;
  --ban-sm: 33vh;
  --ban-xs: 25vh;
  --ban-leader-board: 5.625rem;
}
