<footer class="ui-ht-10">
    <section class="attribution text-center">
        <p class="ui-font-size-2x">
            {{ metadata.title }} - {{ metadata.description }} | ver {{ pkg.version }}
        </p>
    </section>
</footer>