<footer>
    <section class="container attribution text-center">
        <div class="col-12">
            <p class="ui-font-size-2x">
                {{ pkg.description }}
            </p>
            <p class="ui-font-size-2x roboto-slab">
                {{ metadata.title }} ver {{ pkg.version }}
            </p>
        </div>
    </section>
</footer>