<section class=" bg-light ui-ht-40 d-flex align-items-center roboto-slab ui-gray text-center">
    <div class="container">
        <p class="ui-font-size-4x">{{ metadata.description }}</p>
    </div>
</section>