<section class=" bg-light ui-ht-40">
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero cum aut, quisquam quia ab, aliquid magnam saepe
            sunt accusantium maiores dicta atque facere totam laudantium sapiente. Alias excepturi accusantium enim.</p>
    </div>
</section>