<header>
  <section>
    <div>
      <h1>Idea~</h1>
      <h4>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        assumenda odio rem maiores ad minima doloribus.
      </h4>
      <a href="#" role="button" title="Add word, cta action, to your button title">Call to action</a>
    </div>
  </section>
</header>
