<div class="container">
    <nav class="mb-0 ui-ht-10">
        <h3 class="roboto-slab ui-font-size-6md ui-blue">idea~</h3>
        <a href="http://">Link</a>
        <a href="http://">Link</a>
        <a href="http://">Link</a>
        <a href="http://">Link</a>
    </nav>
</div>