<div class="container ui-ht-10">
    <nav class="mb-0">
        <h1 class="h1 roboto-slab text-muted">idea~.</h1>
        <ul>
            <li><a href="#" class="px-3">Link</a></li>
            <li> <a href="#" class="px-3">Link</a></li>
            <li> <a href="#" class="px-3">Link</a></li>
            <li> <a href="#" class="px-3">Link</a></li>
        </ul>
    </nav>
</div>