<nav class="mb-0 ui-vh-10">
    <section class="container">
        <div class="roboto-slab ui-font-size-7lg ui-blue">
            <a href="#">idea~</a>
        </div>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </section>
</nav>