[data-brand] img[alt] {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  max-height: 2rem;
}
[data-brand] img[alt] + * {
  margin-left: 1rem;
}
[data-brand] h1,
[data-brand] h2,
[data-brand] h3,
[data-brand] h5 {
  font-size: 1.5rem;
}

.fp-table,
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
  border: thin solid lightgray;
}
.fp-table thead tr,
table thead tr {
  background-color: lightgray;
  text-align: left;
}
.fp-table th,
.fp-table td,
table th,
table td {
  padding: 12px 15px;
}
.fp-table tbody tr,
table tbody tr {
  border-bottom: thin solid lightgray;
}
.fp-table tbody tr:nth-of-type(even),
table tbody tr:nth-of-type(even) {
  background-color: whitesmoke;
}
.fp-table tbody tr:last-of-type,
table tbody tr:last-of-type {
  border-bottom: 2px solid lightgray;
}
