button {
  --bg: transparent;
}
button[type] {
  --bg: var(--light);
}
button[type=submit] {
  --bg: var(--dark);
  --cl: var(--light);
}
button[type=reset] {
  --bg: transparent;
  --fw: var(--fw-medium);
  --border-s: solid;
  --border-cl: var(--light);
  --border-w: 2px;
}
button[type=button] {
  --bg: var(--light);
}
