button {
  --bg: transparent;
}
button[type] {
  --bg: var(--light);
}
button[type=submit] {
  --bg: var(--dark);
  --cl: var(--light);
}
button[type=reset] {
  --bg: transparent;
  --bdr: var(--bdr-1);
}
