:any-link {
  color: var(--cl);
}
:any-link + * {
  margin-inline-start: var(--ml);
  --ml: var(--rem);
}
:any-link :where(em, strong, b, div) {
  margin: var(--m);
  margin-block-start: var(--mt);
  margin-block-end: var(--mb);
  margin-inline-start: var(--ml);
  margin-inline-end: var(--mr);
  padding: var(--p);
  padding-block-start: var(--pt);
  padding-block-end: var(--pb);
  padding-inline-start: var(--pl);
  padding-inline-end: var(--pr);
  --fs-weight: var(--fs-medium);
  --jt: "center";
  --dp: var(--dp-i);
  --min-h: 2.5rem;
  --p-y: var(--s4);
  --pl: var(--rem);
  --line-height: 0;
  --bg: lightgray;
  --border-radius: var(--rds-sm);
  border-radius: var(--rds);
  justify-content: var(--justify);
  align-items: var(--fb-center);
  min-height: var(--min-h);
  padding: var(--p);
  display: var(--dp-i);
  padding-inline: var(--p-y);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  font-weight: var(--fs-weight);
  box-sizing: var(--box);
}
@media (max-width: 680px) {
  :any-link :where(em, strong, b, div) {
    --min-h: var(--s6);
  }
}
:any-link b {
  --bg: transparent;
  --border: var(--border-1);
  border-width: 3px;
}
:any-link em {
  --border-radius: 99rem;
}
:any-link strong,
:any-link div {
  dp: var(--dp-i);
  display: inline-flex;
}

button {
  margin: var(--m);
  margin-block-start: var(--mt);
  margin-block-end: var(--mb);
  margin-inline-start: var(--ml);
  margin-inline-end: var(--mr);
  padding: var(--p);
  padding-block-start: var(--pt);
  padding-block-end: var(--pb);
  padding-inline-start: var(--pl);
  padding-inline-end: var(--pr);
  --fs-weight: var(--fs-medium);
  --jt: "center";
  --dp: var(--dp-i);
  --min-h: 2.5rem;
  --p-y: var(--s4);
  --pl: var(--rem);
  --line-height: 0;
  --bg: lightgray;
  --border-radius: var(--rds-sm);
  border-radius: var(--rds);
  justify-content: var(--justify);
  align-items: var(--fb-center);
  min-height: var(--min-h);
  padding: var(--p);
  display: var(--dp-i);
  padding-inline: var(--p-y);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  font-weight: var(--fs-weight);
  box-sizing: var(--box);
}
@media (max-width: 680px) {
  button {
    --min-h: var(--s6);
  }
}

article + article {
  margin-block-start: var(--mt);
}

hr {
  --rem: var(--xxl);
  margin-block: var(--rem);
  border: var(--border);
  border-bottom: var(--border-1);
}

html p,
html li,
html aside,
html blockquote,
html em,
html strong,
html small,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-size: var(--fs);
  color: var(--cl);
  text-decoration: var(--text-decor);
  text-shadow: none;
  text-transform: var(--transform);
}
html * {
  box-shadow: var(--shadow);
  text-shadow: var(--text-shadow);
}
