/** banner.scss */

[role="banner"],
[style*="--banr"] {
  // custom properties
  --banr-sm: 20vh;
  --banr-md: 36vh;
  --banr-lg: 50vh;
  --bg: var(--banr-bg, transparent);
  --dsp: flex;
  --align: var(--banr-align, center);
  --justify: var(--banr-justify, center);
  --min-h: var(--banr-h, var(--banr-lg));
  --max-w: var(--pct-8);
  --py: var(--banr-px, var(--rem));
  --px: var(--banr-py, var(--rem));
  --mx: var(--banr-mx, auto);
  > * {
    --tx-align: var(--banr-txa, left);
  }

  [style*="--btn:"] {
    --fs: var(--btn-fs, var(--rem));
    --h: var(--banr-btn-h, var(--s6));
  }
}

[style*="--banr-h"] {
  --min-h: var(--banr-h);
}
