/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: elements.scss
 Date: 2021-04-01
 ***************************************
*/

@use '../../modules/utilities/maps';

footer[role='contentinfo'] {
  > section,
  > div {
    --dsp: flex;
    --wrap: wrap;
    --py: 3rem;
  }
  > section {
    > div {
      flex: 1 1 calc(100% / var(--cols, 3) - var(--gap));
      + * {
        --py: 0;
      }
    }
  }

  > div {
    --w: 100%;
    --justify: center;
  }
}
