/*
 ***************************************
 FirsPaint
 Author: Shawn Sandy
 Component: nav.scss
 Date: 2021-04-01
 ***************************************
*/

@use "../../modules/utilities/maps";

nav {
  --dsp: flex;
  --w: 100%;
  --align: center;
  --justify: space-between;
  section {
    --dsp: flex;
    --align: center;
  }
}
