// reusable function
@use "sass:math";

@function rems($value: 16) {
  $remValue: math.div($value, 16) + rem;
  @return $remValue;
}

@mixin flexbox() {
  display: var(--dp);
  flex-direction: var(--direction);
  flex-wrap: var(--wrap);
  align-items: var(--al);
  justify-content: var(--jc);
}

@mixin flex-items() {
  flex: var(--flex, 1);
  flex-basis: var(--basis, auto);
  align-items: var(--al);
}
