<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% block head %}
  <title>{{ metadata.title }} | {{ metadata.description }}</title>
  <!-- settings style -->
  <link rel="stylesheet" href="icons/css/style.css">
  {% for styles in metadata.styles %}
  <link href="{{ styles }}" rel="stylesheet">
  {% endfor %}
  <!-- custom stylesheets -->
  {% if stylesheets %}
  {% for style in stylesheets %}
  <link rel="stylesheet" href="{{ style }}" />
  {% endfor %}
  {% endif %}
  {% endblock %}
</head>

<body class="ss-bg-classic-blue min-vh-100">
  <!-- header -->
  {% block header %}
  <!-- nav -->
  {% include "partials/main-nav.njk" %}
  {% include "partials/hero.njk" %}

  {% endblock %}

  <!-- main content -->

  <section aria-label="feature">
    <div role="list">
      <div role="listitem">
        <h4>Feature...</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure officia
        inventore sint voluptas et blanditiis facilis voluptate quas accusamus
        itaque ea, corporis odio.
      </div>
      <div role="listitem">
        <h4>Feature...</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure officia
        inventore sint voluptas et blanditiis facilis voluptate quas accusamus
        itaque ea, corporis odio.
      </div>
      <div role="listitem">
        <h4>Feature...</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        consectetur assumenda, porro repudiandae repellendus placeat iure officia
        inventore sint voluptas et blanditiis facilis voluptate quas accusamus
        itaque ea, corporis odio.
      </div>
    </div>
  </section>
  <main>
    <section class="articles">
      {% block content %}
      {% endblock %}
      <aside>
        {% block sidebar %}
        <h5>Sidebar</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos error,
          quas at facilis temporibus optio rem, doloremque, modi numquam commodi
          illum cumque. Sit eveniet, quod expedita libero obcaecati a laudantium.
        </p>
        {% endblock %}
      </aside>
    </section>
  </main>

  <!-- footer -->
  {% block footer %}
  {% include "partials/footer.njk" %}
  {% endblock %}
  <!-- scripts - replaced jquery with vue -->
  {% for js in metadata.scripts %}
  <script src="{{ js }}"></script>
  {% endfor %}
  {#% include "./partials/footer-scripts.html" %#}
  {% if scripts %}
  {% for script in scripts %}
  <script src="{{ script }}"></script>
  {% endfor %}
  {% endif %}
</body>

</html>
