/* component: button.scss */

@use "../../modules/utilities/maps";

button[type],
[style*="--btn"] {
  --btn-py-sm: 1rem 0.9rem;
  --btn-py-md: 1.3rem 1.2rem;
  --btn-py-lg: 1.5rem 1.4rem;
  --pill: 99rem;
  --bg: lightgray;
  --dsp: inline-flex;
  --align: center;
  --lh: 1;
  --h: calc(36rem / 16);
  --px: 1.5rem;
  --py: var(--btn-py-sm);
  --border: var(--line);
  --rads: var(--btn-rds, var(--rds));
  --fs: var(--s2);
  &:any-link,
  a {
    --txd: none;
    --cl: var(--btn-cl, var(--dark));
  }
  &:hover {
    --cursor: pointer;
    --bg: var(--btn-hover-bg, var(--dark));
    --cl: var(--btn-hover-cl, var(--light));
  }
  &[type="submit"] {
  }
  &[type="reset"] {
    --line: medium solid var(--btn-cl, lightgray);
    --bg: transparent;
    &:hover {
      --btn-hover-cl: var(--dark);
    }
  }
}

button[type][style*="--btn-pill"],
[style*="--btn-pill"] {
  --rads: var(--btn-pill, var(--pill));
}
