[role="grid"] {
  --py: var(--rem);
}

div[role="row"],
[style="--row"] {
  --dsp: flex;
  --gap: var(--rem);
  --wrap: var(--row-wrap, wrap);
  [role="gridcell"] {
  }
}

[role="list"],
[style*="--list"] {
  --dsp: flex;
  --gap: var(--rem);
  --wrap: var(--row-wrap, wrap);
}

[role="gridcell"],
[role="listitem"],
[style*="--grid"] {
  --dsp: flex;
  flex: var(--col-flex, 1 1 calc(100% / var(--cols, 4) - var(--gap)));
  --py: var(--rem);
  --px: var(--rem);
  --direction: var(--col-direction, column);
  * + * {
    --py: var(--rem) 0;
  }

  section,
  [style*="--card-main"] {
    --dsp: flex;
    --direction: column;
    --grow: 1;
    --flex: 2;
    height: var(--card-main-h);
  }

  @media (max-width: calc(768rem /16)) {
    --cols: var(--cols-xs, 1);
  }
  @media (max-width: calc(992rem /16)) and (min-width: calc(768rem /16)) {
    --cols: var(--cols-sm, 2);
  }

  @media (max-width: calc(1280rem /16)) and (min-width: calc(992rem /16)) {
    --cols: var(--cols-md, 3);
  }

  @media (max-width: calc(1400rem /16)) and (min-width: calc(1280rem /16)) {
    --cols: var(--cols-lg, 4);
  }
  @media (min-width: calc(1600rem /16)) {
    --cols: var(--cols-xxl, 5);
  }
}

[style*="--fx-card"] {
  flex-direction: var(--fx-card-direction, column);
  --dsp: flex;
  flex: var(--grid-flex);
  line-height: 1.6;
  width: var(--grid-w);
  > * + * {
    --mt: 1rem;
    margin-top: var(--mt, 1rem);
  }

  @media (min-width: 1680px) {
    --grid-flex: 1 1 24%;
    --grid-w: 24%;
  }

  @media (max-width: 980px) {
    --grid-flex: 1 1 48%;
    --grid-w: 48%;
  }

  @media (max-width: 680px) {
    --grid-flex: 1 1 98%;
    --grid-w: 49%;
  }
  section,
  [style="--fx-card-main"] {
    --dsp: flex;
    --direction: column;
    --grow: 1;
    --flex: 2;
  }
}
