/** Import tokens, replace the import file below with your own **/

@import "./system/styles/_tokens/_tokens.scss";

/** Config StyleMix SASS defaults */

$mix-tokens: $tokens; // token variable name
$mix-namespace: "mx"; // namespace
$mix-base: "base"; // default utility name
$mix-colors: "color"; // color key
$mix-fonts: "fonts"; // font key
$mix-spacing: "spacing"; // padding and margin
$mix-sizing: "sizing"; //  width heights
$mix-prefix: "-"; // separator for you class names my-class-name
$mix-components: "components"; // default component key
$mix-modifier-states: active focus focus-within hover visited; // define the states that you use
$mix-color-attrs: "color", "background-color", "border-color";

/** import stylemix **/
@import "~@shawnsandy/mix";

@import "../../apps/mix/sass/components/html";

@include html;

.roboto-slab {
  font-family: "Roboto Slab", sans-serif !important;
  font-weight: 500;
}

.roboto-medium {
  font-weight: 400;
}

.roboto-semibold {
  font-weight: 500;
}

.roboto-extra {
  font-weight: 800;
}

p {
  line-height: 1.5 !important;
}

/** utility mixin example--create font utility form our tokens **/
.ui {
  @include mix-utility("font");
  @include mix-utility("dimensions.height", "height");
  @include mix-utility("dimensions.min-height", "min-height");
  @include mix-utility("dimensions.width", "width");
  @include mix-utility("color");
}

@import "../../apps/mix/sass/navbar.scss";
