<section id="list-component">
  <aside>
    <p>
      <span>Unordered List</span>
    </p>
    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ul>
  </aside>
  <aside>
    <p>
      <span>Ordered List</span>
    </p>
    <ol>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
    </ol>
  </aside>

  <aside>
    <p>
      <span>Unordered List</span>
    </p>
    <span>
      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>Five</li>
      </ul>
    </span>
  </aside>
  <aside>
    <p>
      <span>Ordered List</span>
    </p>
    <span>
      <ol>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>Five</li>
      </ol>
    </span>
  </aside>
</section>
