/* Error: There is no module with the namespace "custom-tokens".
 *    ,
 * 16 |   @include maps.customProperties(custom-tokens.$tokens);
 *    |                                  ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src/v2/tokens/tokens.scss 16:34           @use
 *   src/v2/modules/styles/critical.scss 15:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "custom-tokens".\a    \2577 \a 16 \2502    @include maps.customProperties(custom-tokens.$tokens);\a    \2502                                   ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src/v2/tokens/tokens.scss 16:34           @use\a   src/v2/modules/styles/critical.scss 15:1  root stylesheet';
}
