/*
 ***************************************
  Name: core.scss
 ***************************************
*/
@use "../modules/utilities/maps";

@use "./tokens.scss";

* {
  @include maps.cp(tokens.$styles);
  @include maps.cp(tokens.$layout);
  font-family: var(--ff);
  padding-inline: var(--px);
  padding-block: var(--py);
  margin-inline: var(--mx);
  margin-block: var(--my);
  width: var(--w);
  height: var(--h);
  list-style: var(--li-style);
  color: var(--cl, black);
}

:root {
  display: var(--dsp);
}
