.fp-header,
header {
  --hd-bdr: var(--border);
  --hd-pd: var(--pd-reg);
  --hd-align: var(--align-items);
  --hd-display: var(--display);
  --hd-align-items: var(--align-item);
  --hd-justify: var(--justify-content);
  --hd-direction: var(--column);
  --hd-bg: var(--bg-color);
  --hd-gap: var(--gap-reg);
  background-color: var(--hd-bg);
}

.fp-header > [role=banner],
header > [role=banner] {
  background-color: var(--hd-bg);
  min-height: var(--height);
  display: var(--hd-display);
  align-items: var(--hd-align-items);
  justify-content: var(--hd-justify);
  flex-direction: var(--row);
  border-bottom: var(--hd-bdr);
  border-top: var(--hd-bdr);
  border-inline: var(--hd-bdr);
  gap: var(--hd-gap);
  padding-block: var(--hd-pd) 0;
}
