nav {
  --nav-display: var(--display);
  --nav-align: var(--align-item);
  --nav-height: --var(--xxxl);
  --justify-content: space-between;
}

nav h1 {
  font-size: var(--lg);
  margin-block-end: 0;
}

@media (min-width: 980px) {
  nav {
    display: var(--nav-display);
    align-items: var(--nav-align);
    visibility: visible;
    justify-content: var(--justify-content);
    max-height: var(--nav-height);
  }
}
nav :where(> section, ul) {
  display: var(--nav-display, --display);
  align-items: var(--nav-align, --align-item);
  gap: var(--reg);
  height: 100%;
  font-size: var(--sm);
}

nav :where(> section, ul) :any-link {
  font-size: var(--sm);
}

nav img[alt] {
  vertical-align: middle;
  max-height: var(--xxl);
}

nav img[alt] + * {
  margin-left: var(--reg);
}
