/*
 ***************************************
 FirsPaint
 Name: tokens.scss
 Author: Shawn Sandy
 Date: 2021-04-01
 ***************************************
*/

// @use "../tokens/tokens.scss";

@use "../modules/utilities/maps";

@use "../tokens/globals.scss";

$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$styles: (
  "cl": var(--color, initial),
  "fs": var(--font-size, 1rem),
  "fst": var(--font-style, normal),
  "fw": var(--font-weight, normal),
  "fv": var(--font-variant, normal),
  "fk": var(--font-kerning, normal),
  "ff": var(--font-family, normal),
  "lts": var(--letter-spacing, normal),
  "lh": var(--line-height, 1.2),
  "ws": var(--white-space, normal),
  "ta": var(--text-align, left),
  "wsp": var(--word-spacing, normal),
  "li-style": var(--list-style, disc),
  "li-type": var(--list-style-type, disc),
  "li-pos": var(--list-style-position, outside),
  "li-image": var(--list-style-image, none),
  "visible": var(--visibility, visible),
);

:root {
  @include maps.cp($styles);
}

* {
  /* inherited properties variables */
  color: var(--cl);
  font-size: var(--fs);
  font-style: var(--fst);
  font-weight: var(--fw);
  font-variant: var(--fv);
  font-kerning: var(--fk);
  font-family: var(--ff);
  letter-spacing: var(--lts);
  line-height: var(--lh);
  list-style: var(--li-style);
  list-style-type: var(--li-type);
  list-style-position: var(--li-pos);
  list-style-image: var(--li-image);
  visibility: var(--visible);
  white-space: var(--ws);
  text-align: var(--ta);
  word-spacing: var(--wsp);

  /* initialized properties variables */
}
