// /*
//  ***************************************
//  Name: tokens.scss
//  ***************************************
// */

// @use "../tokens/tokens.scss";

// @use "../tokens/globals.scss";

$font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$styles: (
  "cl": var(--color, initial),
  "fs": var(--font-size, 1rem),
  "fst": var(--font-style, normal),
  "fw": var(--font-weight, normal),
  "ff": var(--font-family, $font-family),
  "lh": var(--line-height, 1.2),
  "txa": var(--text-align, left),
  "txd": var(--text-decoration, none),
  "txt": var(--text-transform, none),
  "li-style": var(--list-style, none),
  "visible": var(--visibility, visible),
);

$layout: (
  "w": var(--width, auto),
  "h": var(--height, auto),
  "p": var(--padding, initial),
  "m": var(--margin, initial),
  "px": var(--padding-inline, initial),
  "py": var(--padding-block, initial),
  "mx": var(--margin-inline, initial),
  "my": var(--margin-block, initial),
  "dsp": initial,
  "pos": var(--position, initial),
);

$modifiers: (
  "min-w": var(--min-width, auto),
  "min-h": var(--min-height, auto),
  "max-w": var(--max-width, auto),
  "max-h": var(--max-height, auto),
  "fv": var(--font-variant, normal),
  "fk": var(--font-kerning, normal),
  "lts": var(--letter-spacing, normal),
  "ws": var(--white-space, normal),
  "wsp": var(--word-spacing, normal),
);
