// @use '../components/reset.scss';

@use '../components.scss'with($render-all: true);

@include components.nav-dashboard();

section[role="region"][aria-label="dashboard"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;

  nav section {
    // display: none;
  }

  @media (min-width: 980px) {
    flex-direction: row;

    nav section {
      display: flex;
    }
  }
}

main {
  flex-direction: column;
  overflow: auto;
}
