// @use '../components/reset.scss';

@use '../components.scss'with($render-all: true, $render-page: false,
  $render-nav: false, $render-header: false);

@include components.button-links();


[data-dashboard] {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0;

  [data-sidebar] {
    padding: 1rem .5rem;
  }

  @media (min-width: 980px) {
    flex-direction: row;

    // a[data-sidebar-button] {
    //   display: none;
    // }

  }

  @include components.nav-dashboard();
}

[data-sidebar-button] {
  display: block;
}

@media (min-width: 980px) {

  [data-sidebar-button] {
    display: none;
  }
}

main {
  flex-direction: column;
  overflow: auto;
  padding: 1rem;
}
