img {
  max-width: 100%;

  &[width] {
    width: var(--img-w, auto);
  }

  &[width][height] {
    height: var(--img-h, auto);
  }

  &[src$=".svg"] {
    width: 100%;
    height: auto;
    max-width: none;
  }
}

picture {
  max-width: var(--pic-max-w, 100%);
  width: var(--pic-w, auto);
  display: var(--pic-dsp, flex);
  place-content: var(--place-x, center);
  place-items: var(--place-y, center) ;
  height: var(--pic-h, auto);
  padding-block: var(--pic-py, .5re,);
  padding-inline: var(--pic-px, .5re,);
}
