img {
  --img-xs: 10vw;
  --img-sm: 25vw;
  --img-md: 50vw;
  --img-lg: 75vw;
  --img-xl: 90vw;
  --img-100: 100vw;

  max-width: 100%;

  &[width] {
    width: var(--img-w, auto);
  }

  &[width][height] {
    height: var(--img-h, auto);
  }

  &[src$=".svg"] {
    width: 100%;
    height: auto;
    max-width: none;
  }
}

picture {
  max-width: var(--pic-max-w, 100%);
  width: var(--pic-w, auto);
  display: var(--pic-dsp, flex);
  place-content: var(--place-x, center);
  place-items: var(--place-y, center);
  height: var(--pic-h, auto);
  padding-block: var(--pic-py, 0.5rem);
  padding-inline: var(--pic-px, 0.5rem);
}

caption {
  font-size: var(--cap-fs, inherit);
  display: var(--cap-dsp, block);
  place-content: var(--place-x, center);
  place-items: var(--place-y, center);
  padding-block: var(--cap-py, 0.5rem);
  padding-inline: var(--cap-px, 0.5rem);
}
