a[role=button],
.fp-button-link[role=button] {
  text-decoration: none;
  border: none;
  background-color: transparent;
}
a[role=button] > span,
a[role=button] > strong,
a[role=button] > em,
.fp-button-link[role=button] > span,
.fp-button-link[role=button] > strong,
.fp-button-link[role=button] > em {
  padding: 0.7rem 1.5rem;
  border: 1px solid #e4e4e4;
  font-weight: normal;
}
a[role=button] > strong,
.fp-button-link[role=button] > strong {
  background-color: black;
  color: white;
}
a[role=button] > em,
.fp-button-link[role=button] > em {
  border-radius: 99px;
}
a[role=button] > em:hover > em, a[role=button] > em:active > em, a[role=button] > em:focus > em,
.fp-button-link[role=button] > em:hover > em,
.fp-button-link[role=button] > em:active > em,
.fp-button-link[role=button] > em:focus > em {
  border-radius: 99px;
}
