/*
 ***************************************
 Author: Shawn Sandy
 Date: 2021-04-01
 Email: shawnsandy04@gmail
 Description: First Paint
 Project: first-paint
 Version: 2.0
 Website: https://shawnsandy.dev/
 License: MIT
 ***************************************
*/

// Utility styles for borders

// find style attribute with a border value
// set the border to none
*,
[style*="--border"],
[style*="--bd"] {
  border: var(--border);
}

@function border($w: thin, $s: none, $c: currentcolor) {
  @return var(--border-bw) var(--border-bs) var(--border-bcl);
}

//set all the border properties
[style*="--border"] {
  border: var(--border-w, thin) var(--border-s, none)
    var(--border-cl, currentcolor);
}

//set the border properties for top border
[style*="--border-t"] {
  border-top: var(--border-tw) var(--border-ts) var(--border-tcl);
}

// set the border properties for right border
[style*="--border-r"] {
  border-right: var(--border-rw) var(--border-rs) var(--border-rcl);
}

// set the border properties for bottom border
[style*="--border-b"] {
  border-bottom: var(--border-bw) var(--border-bs) var(--border-bcl);
}

// set the border properties for left border
[style*="--border-l"] {
  border-left: var(--border-lw) var(--border-ls) var(--border-lcl, currentcolor);
}
