/** Card component **/

[style*='--card'] {
  --dsp: grid;
  grid-template-rows: auto 1fr auto;
  --h: 100%;
  --align: stretch;
  --gap: var(--card-gap, 0);
  > div {
    --h: 100%;
    --w: 100%;
  }
}
