/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable declaration-colon-newline-after */
:where(div, main, section, article, footer, header),
[style*="--bx"] {
  --bx-flow: column wrap;
  --bx-align: flex-start;
  --bx-justify: flex-start;

  display: var(--bx-dsp, var(--dsp, block));
  margin-inline: var(--bx-x, var(--mx, initial));
  margin-block: var(--bx-y, var(--my, initial));
  max-width: var(--bx-max-w, 100%);
  width: var(--bx-w, var(--w, initial));
  height: var(--bx-h, var(--h, initial));
  min-width: var(--bx-min-w, initial);
}

[style*="--bx-flex"] {
  --bx-dsp: var(--bx-flex-dsp, flex);

  flex-flow: var(--bx-flex-flow, var(--flow));
  align-items: var(--bx-flex-align, var(--bx-align));

  justify-content: var(
    --bx-flex-justify,
    var(--bx-justify)
  );
}
