<style>
    html {
        -webkit-font-smoothing: antialiased !important;
        height: 100%;
    }

    body {

        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    .roboto-slab {
        font-family: 'Roboto Slab', sans-serif !important;
        font-weight: 500;
    }

    .roboto-medium {
        font-weight: 400;
    }

    .roboto-semibold {
        font-weight: 500;
    }

    .roboto-extra {
        font-weight: 800;
    }
</style>