// set variables
// TODO Search and replace button with CSS tag/element name
$render: true !default;

// render component mixin
@mixin renderComponent($renderContent: $render, $className: null) {
  @if ($renderContent) {
    // #{$className,
    // $className,
    // ".fp-link"},
    button {
      --bg: transparent;
      &[type] {
        --bg: var(--light);
        @include button();
      }
      &[type="submit"] {
        --bg: var(--dark);
        --cl: var(--light);
      }
      &[type="reset"] {
        --bg: transparent;
        --fw: var(--fw-medium);
        --border-s: solid;
        --border-cl: var(--light);
        --border-w: 2px;
      }
      &[type="button"] {
        --bg: var(--light);
      }
    }
  }
}

@mixin button {
}

// include render component

@include renderComponent();
