html * {
  box-shadow: var(--shadow);
  text-shadow: var(--text-shadow);
}

html * p,
html * li,
html * div,
html * aside,
html * blockquote,
html * em,
html * strong,
html * small,
html * h1,
html * h2,
html * h3,
html * h4,
html * h5,
html * h6 {
  font-size: var(--fs);
  color: var(--cl);
  text-decoration: var(--text-decor);
  text-shadow: none;
  text-transform: var(--transform);
}

html :any-link {
  color: var(--cl);
}

html :any-link + * {
  margin-inline-start: var(--ml);
  --ml: var(--rem);
}

html :any-link :where(em, strong, b, span) {
  border-radius: var(--rds);
  justify-content: var(--justify);
  align-items: var(--al);
  min-height: var(--min-h);
  padding: var(--p);
  display: var(--dp-i);
  padding-inline: var(--p-inline);
  background-color: var(--bg);
  --jfy: "center";
  --dp: var(--dp-i);
  --min-h: var(--s6);
  --p-inline: var(--s4);
  --pl: var(--rem);
  --bg: whitesmoke;
  --line-height: 0;
}

html button {
  border-radius: var(--rds);
  justify-content: var(--justify);
  align-items: var(--al);
  min-height: var(--min-h);
  padding: var(--p);
  display: var(--dp-i);
  padding-inline: var(--p-inline);
  background-color: var(--bg);
}
