:any-link {
  color: var(--cl);
}

:any-link + * {
  margin-inline-start: var(--ml);
  --ml: var(--rem);
}

:any-link :where(em, strong, b, div) {
  --fs-weight: var(--fs-medium);
  --jt: "center";
  --dp: var(--dp-i);
  --min-h: var(--s6);
  --p-in: var(--s4);
  --pl: var(--rem);
  --bg: whitesmoke;
  --line-height: 0;
  --border-radius: var(--rds-sm);
  border-radius: var(--rds);
  justify-content: var(--justify);
  align-items: var(--fb-center);
  min-height: var(--min-h);
  padding: var(--p);
  display: var(--dp-i);
  padding-inline: var(--p-in);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  font-weight: var(--fs-weight);
}

:any-link b {
  --bg: transparent;
  --border: var(--border-1);
  border-width: 3px;
}

:any-link em {
  --border-radius: 99rem;
}

:any-link strong,
:any-link div {
  dp: var(--dp-i);
  display: inline-flex;
}

button {
  --fs-weight: var(--fs-medium);
  --jt: "center";
  --dp: var(--dp-i);
  --min-h: var(--s6);
  --p-in: var(--s4);
  --pl: var(--rem);
  --bg: whitesmoke;
  --line-height: 0;
  --border-radius: var(--rds-sm);
  border-radius: var(--rds);
  justify-content: var(--justify);
  align-items: var(--fb-center);
  min-height: var(--min-h);
  padding: var(--p);
  display: var(--dp-i);
  padding-inline: var(--p-in);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  font-weight: var(--fs-weight);
}

article + article {
  margin-block-start: var(--mt);
  --mt: var(--xxl);
}

hr {
  --rem: var(--xxl);
  margin-block: var(--rem);
  border: var(--border);
  border-bottom: var(--border-1);
}

html p,
html li,
html aside,
html blockquote,
html em,
html strong,
html small,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-size: var(--fs);
  color: var(--cl);
  text-decoration: var(--text-decor);
  text-shadow: none;
  text-transform: var(--transform);
}

html * {
  box-shadow: var(--shadow);
  text-shadow: var(--text-shadow);
}
