// set variables
// TODO Search and replace name with CSS tag/element name
@use './utilities/maps';
@use './utilities/mixins' as mix;
@use './utilities/functions' as fn;
$render: true !default;
$prefix: "layout";
$tokens: ();

// render component mixin
@mixin renderComponent($renderContent: $render, $className: null) {
  @if ($renderContent) {
    html {
      @include maps.customProperties($tokens, $prefix);
    }
    @include elements();
  }
}

@mixin elements() {
  // TODO add mixin code
  p,
  li,
  aside,
  blockquote,
  em,
  strong,
  small,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--fs);
    color: var(--cl);
    text-decoration: var(--decoration);
    text-shadow: none;
    text-transform: var(--transform);
  }
  * {
    box-shadow: var(--shadow);
    text-shadow: var(--text-shadow);
  }
}

:any-link {
  color: var(--cl);
  + * {
    margin-inline-start: var(--ml);
    --ml: var(--rem);
  }
  :where(em, strong, b, div) {
    @include mix.button();
  }

  b {
    --bg: transparent;
    --border-s: solid;
    --border-cl: var(--light);
    --border-w: 2px;
  }

  em {
    --border-rad: 99rem;
  }

  strong,
  div {
    --dsp: var(--dsp-i);
    display: inline-flex;
  }
}

button {
  @include mix.button();
}

blockquote {
  --m: var(--xl);
  --p: var(--md);
  padding: var(--p);
  margin: var(--m);
  --border-w: thick;
  --border-s: solid;
  --border-cl: var(--light);
  border-left: var(--border-w) var(--border-s) var(--border-cl);
}

article {
  + article {
    margin-block-start: var(--mt);
  }
}

hr {
  --py: var(--2xl);
  margin-block: var(--py);
  border: none;
  --border-w: thin;
  --border-s: solid;
  --border-cl: var(--light);
  border-bottom: var(--border-w) var(--border-s) var(--border-cl);
}

@mixin config($_color: null, $_background-color: null) {
  $elements-color: $_color !global;
  $elements-background-color: $_background-color !global;
}

@include renderComponent();
