.fp-layout html,
.fp-layout body,
.fp-layout div,
.fp-layout header,
.fp-layout span,
.fp-layout applet,
.fp-layout object,
.fp-layout iframe,
.fp-layout h1,
.fp-layout h2,
.fp-layout h3,
.fp-layout h4,
.fp-layout h5,
.fp-layout h6,
.fp-layout p,
.fp-layout blockquote,
.fp-layout pre,
.fp-layout a,
.fp-layout abbr,
.fp-layout acronym,
.fp-layout address,
.fp-layout big,
.fp-layout cite,
.fp-layout code,
.fp-layout del,
.fp-layout dfn,
.fp-layout em,
.fp-layout img,
.fp-layout ins,
.fp-layout kbd,
.fp-layout q,
.fp-layout s,
.fp-layout samp,
.fp-layout small,
.fp-layout strike,
.fp-layout strong,
.fp-layout sub,
.fp-layout sup,
.fp-layout tt,
.fp-layout var,
.fp-layout b,
.fp-layout u,
.fp-layout i,
.fp-layout center,
.fp-layout dl,
.fp-layout dt,
.fp-layout dd,
.fp-layout ol,
.fp-layout ul,
.fp-layout li,
.fp-layout fieldset,
.fp-layout form,
.fp-layout label,
.fp-layout legend,
.fp-layout table,
.fp-layout caption,
.fp-layout tbody,
.fp-layout tfoot,
.fp-layout thead,
.fp-layout tr,
.fp-layout th,
.fp-layout td,
.fp-layout article,
.fp-layout aside,
.fp-layout canvas,
.fp-layout details,
.fp-layout embed,
.fp-layout figure,
.fp-layout figcaption,
.fp-layout footer,
.fp-layout header,
.fp-layout hgroup,
.fp-layout menu,
.fp-layout main,
.fp-layout nav,
.fp-layout output,
.fp-layout ruby,
.fp-layout section,
.fp-layout summary,
.fp-layout time,
.fp-layout mark,
.fp-layout audio,
.fp-layout video,
layout html,
layout body,
layout div,
layout header,
layout span,
layout applet,
layout object,
layout iframe,
layout h1,
layout h2,
layout h3,
layout h4,
layout h5,
layout h6,
layout p,
layout blockquote,
layout pre,
layout a,
layout abbr,
layout acronym,
layout address,
layout big,
layout cite,
layout code,
layout del,
layout dfn,
layout em,
layout img,
layout ins,
layout kbd,
layout q,
layout s,
layout samp,
layout small,
layout strike,
layout strong,
layout sub,
layout sup,
layout tt,
layout var,
layout b,
layout u,
layout i,
layout center,
layout dl,
layout dt,
layout dd,
layout ol,
layout ul,
layout li,
layout fieldset,
layout form,
layout label,
layout legend,
layout table,
layout caption,
layout tbody,
layout tfoot,
layout thead,
layout tr,
layout th,
layout td,
layout article,
layout aside,
layout canvas,
layout details,
layout embed,
layout figure,
layout figcaption,
layout footer,
layout header,
layout hgroup,
layout menu,
layout main,
layout nav,
layout output,
layout ruby,
layout section,
layout summary,
layout time,
layout mark,
layout audio,
layout video {
  margin: var(--m);
  padding: var(--p);
  border: 0;
  font-size: var(--fs);
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
