@import "../modules/utilities/functions" as fn;
nav {
  --nav-dp: var(--dp);
  --nav-align: var(--al);
  --nav-height: var(--4xl);
  --justify: var(--jb);
  --font-size: var(--sm);
}

nav h1 {
  font-size: var(--md);
  margin-block-end: 0;
}

@media (min-width: 980px) {
  nav {
    display: var(--nav-dp);
    align-items: var(--align-items);
    justify-content: var(--jb);
    height: var(--nav-height);
  }
}
nav :where(> section, ul) {
  display: var(--nav-dp, --dp);
  align-items: var(--nav-align, --aln);
  gap: var(--gap);
  height: 100%;
  font-size: var(--font-size);
}

nav :where(> section, ul) :any-link {
  font-size: var(--font-size);
}

nav img[alt] {
  vertical-align: var(--vertical-align);
  --vertical-align: var(--v-mid);
  --max-h: var(--xxl);
  max-height: var(--max-h);
}

nav img[alt] + * {
  margin-left: var(--ml);
}
