<article role="region">
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><span>Read more</span></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><span>Read more</span></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><span>Read more</span></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><span>Read more</span></a>
      </p>
    </footer>
  </article>
  <article>
    <h3>
      <a href="#">Sample Article</a>
    </h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      assumenda odio rem maiores ad minima doloribus. Pariatur quibusdam dolorum
      distinctio repellendus vero natus explicabo mollitia ea, nemo sunt
      voluptatibus eaque!
    </p>
    <footer>
      <p>
        <a href="#" role="button"><span>Read more</span></a>
      </p>
    </footer>
  </article>
</article>
