<hr />
<h4 style="text-align: center; --w: 100%; --py: 3rem">
  {{ title }} (demo sandbox)
</h4>
<section style="--dsp: block; --w: 80%; --mx: auto">
  <iframe
    src="{{ codesandbox }}"
    style="
      width: 100%;
      height: 500px;
      border: 0;
      border-radius: 4px;
      overflow: hidden;
    "
    title="paint-demo"
    allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
    sandbox="allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
  ></iframe>
</section>

<!-- https://codesandbox.io/embed/firstpaint-uiov7?autoresize=1&codemirror=1&fontsize=12&hidenavigation=1&initialpath=%2Fsrc%2Findex.html&module=%2Fsrc%2Findex.html&theme=light -->
