<footer role="contentinfo">
  <section>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
  </section>

  <div>
    <p>Copyright 2021</p>
  </div>
  <!-- {% clipboardscript %} -->
  <script src="https://cdn.jsdelivr.net/npm/@shawnsandy/code-clipper@0.2.0/lib/clipper.min.js"> </script>


</footer>
</body>
</html>
