<footer role="contentinfo">
  <section>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
  </section>

  <div>
    <p>Copyright 2021</p>
  </div>
  {% clipboardscript %}


  <script>
    (function () {

  const clipboard = new ClipboardJS('.mix-clipboard')

  clipboard.on('success', e => {
    var clipText = e.trigger.textContent
    e.trigger.textContent = 'Copied'

    e.clearSelection()
    setTimeout(function () {
      e.trigger.textContent = clipText
    }, 1000)
  })

  clipboard.on('error', e => {
    console.error('Action:', e.action)
    console.error('Trigger:', e.trigger)
  })
})()
  </script>
</footer>
</body>
</html>
