<footer role="contentinfo">
  <section>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
    <div>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut odit expedita aliquam commodi incidunt nam
        maiores eum sunt minima corrupti dolore, fugiat veritatis sit, nobis harum ducimus repudiandae quos
        laboriosam?
    </p>
    </div>
  </section>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero rerum eius facere, architecto at, soluta recusandae, iusto tenetur doloremque minima rem velit officiis error quod expedita officia amet provident dolorem.</p>
  </div>
</footer>
</body>
</html>
