<section role="banner">
  <div>
    <!-- <img src="img/fp.svg" alt="" /> -->
    <h1 role="none">Lightweight, Fast, Accessible, Inclusive</h1>
    <p>
      First Paint is lightweight easy to use CSS/SCSS starter library for
      quickly scaffolding/building modern, mobile friendly websites.
    </p>
    <p>
      <a
        href="#"
        role="button"
        aria-label="Add word, cta action, to your button title"
      >
        <em>Get Started</em></a
      >
    </p>
  </div>
</section>
