<section>
  <h3>Image</h3>
  <p>{% markdown %} `<img />` {% endmarkdown %}</p>
  <p>{{ `code` .... | markdown }}</p>
  <div role="list">
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder 1" width="200px" height="200px" />
        </picture>
      </p>
    </div>
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder 2" width="200px" height="200px" />
        </picture>
      </p>
    </div>
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder 3" width="200px" height="200px" />
        </picture>
      </p>
    </div>
    <div role="listitem">
      <p>
        <picture>
          <img src="" alt="Placeholder 4" width="200px" height="200px" />
        </picture>
      </p>
    </div>
  </div>
</section>
