{% extends 'cover.njk' %}
{% block styles %}
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
  <link rel="stylesheet" href="/v2/css/components/index.css"/>
  <link rel="stylesheet" href="/v2/css/components/layouts/cover.css"/>
{% endblock %}
{% block feature %}{% endblock %}
{% block main %}
  <section>
    <h2>Components</h2>
  </section>
  {{ content | safe }}
  <hr>
    <section role="grid" style="--w: 100%">
      <div role="row" style="--w: 100%">
        {% set components = collections['components'] %}
        {{ hlp.sort(components, 'fileSlug') }}
        {% for item in components %}
          <div role="gridcell">
            <h5>
              <a href="{{ item.url }}" style="--fs: var(--lg); --cl: var(--dark); --my: 0 var(--rem)">{{ item.data.title }}</a>
            </h5>
            <div style="--main:;">
              <p style="--truncate: 2">
                {{ item.data.description }}
              </p>
            </div>
            <p>
              <a href="{{ item.url }}" style="--btn-pill">View Component</a>
            </p>
          </div>
        {% endfor %}
      </div>
    {% endblock %}
    {% block scripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
      <script src="/js/scripts.js"></script>
    {% endblock %}
