{% extends 'cover.njk' %}
{% block styles %}
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
  <link rel="stylesheet" href="/v2/css/components/index.css"/>
  <link rel="stylesheet" href="/v2/css/components/layouts/cover.css"/>
{% endblock %}
{% block feature %}{% endblock %}
{% block main %}
  <section style="--direction: column; --justify: flex-start; --align:initial">
    <h2>Components</h2>
    <hr>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa repellendus facilis inventore in eaque voluptatibus
          dolorem. Ratione quidem quasi magnam officiis molestiae omnis fugiat blanditiis, repudiandae sed exercitationem
          repellat. Aliquam?</p>
      </article>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa repellendus facilis inventore in eaque voluptatibus
          dolorem. Ratione quidem quasi magnam officiis molestiae omnis fugiat blanditiis, repudiandae sed exercitationem
          repellat. Aliquam?</p>
      </article>
      <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa repellendus facilis inventore in eaque voluptatibus
          dolorem. Ratione quidem quasi magnam officiis molestiae omnis fugiat blanditiis, repudiandae sed exercitationem
          repellat. Aliquam?</p>
      </article>
    </section>
  {% endblock %}
