{% extends 'index.njk' %}
{% block styles %}
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
  <link rel="stylesheet" href="/v2/css/components/index.css"/>
  <link rel="stylesheet" href="/v2/css/components/layouts/cover.css"/>
{% endblock %}
{% block header %}{% endblock %}
{% block feature %}{% endblock %}
{% block main %}
  <h3>{{ title }}</h3>
  <hr>
    {{ content | safe }}
    <div>
      {{ description | safe }}
    </div>
    <hr>
      {% set components = collections['components'] %}
      {{ hlp.sort(components, 'fileSlug') }}
      <div style="--flex-justify: flex-start; --min-w: 100%; --py: var(--s4)">
        {% for item in components %}
          <a href="{{ item.url }}" style="--btn-lg; --btn-pill; --min-w: 100px">
            {{ item.data.title }}
            <span class="icon-arrow-right"></span>
          </a>
        {% endfor %}
      </div>
      <hr>
      {% endblock %}
