{% extends 'index.njk' %}
{% block styles %}
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
  <link rel="stylesheet" href="/v2/css/components/index.css"/>
  <link rel="stylesheet" href="/v2/css/components/layouts/cover.css"/>
{% endblock %}
{% block header %}{% endblock %}
{% block feature %}{% endblock %}
{% block main %}
  <h3>{{ title }}</h3>
  <hr>
    {{ content | safe }}
    <div>
      {{ description | safe }}
    </div>
  {% endblock %}
