{% extends 'index.njk' %}
{% block styles %}
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
  <link rel="stylesheet" href="/v2/css/components/index.css"/>
  <link rel="stylesheet" href="/v2/css/components/layouts/cover.css"/>
{% endblock %}
{% block header %}
  <section role="banner" style="--banr-h: var(--banr-md); --banr-justify: flex-start">
    <div>
      <h2>{{ title }}</h2>
      <h4 role="none" style="">{{ description }}</h4>
    </div>
  </section>
{% endblock %}
{% block feature %}{% endblock %}
{% block main %}
  {{ content | safe }}
  {% if sandbox %}
    {# {{ box.demo(sandbox, title) }} #}
  {% endif %}
  {% set components = collections['components'] %}
  {{ hlp.sort(components, 'fileSlug') }}
  <div style="--flex-justify: flex-start; --min-w: 100%; --py: var(--s4)">
    {% for item in components %}
      <a href="{{ item.url }}" style="--btn-pill; --min-w: 100px">
        {{ item.data.title }}
        <span class="icon-arrow-right"></span>
      </a>
    {% endfor %}
  </div>
{% endblock %}
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
