<!DOCTYPE html>
<html lang="en">
  {% include "./_partials/head.html" %}
  <body>
    <header>
      {% include "./_partials/navbar-mobile.html" %}
      <!-- banner -->
      {% include "./_partials/header.html" %}
    </header>
    <!-- feature section -->
    <section aria-label="feature">
      {% include "./_partials/grid.html" %}
    </section>
    <hr />
    <main>{% include "_partials/main-content.html" %}</main>
    {% include "./_partials/footer.html" %}
  </body>
</html>
